<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table border="1" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td>
     Hello!
    </td>
   </tr>
   <tr>
    <td>
     {{firstName}}{{lastName}}
    </td>
   </tr>
   <tr>
    <td>
     New Password: {{password}}
    </td>
   </tr>
  </table>
 </body> 
</html>